body,
html {
    background-color: #e8e8e8;
}

.detail_content {
    max-width: 1400px;
}

.detail__inner {
    max-width: 1400px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 35px 8% 5% 8%;
    box-sizing: border-box;
}

.detail__heading {
    align-items: baseline;
    padding: 12px 0px 16px 0px;
    position: relative;
    color: #444444;
}

.detail__heading:active {
    transform: translateY(1.5px);
}

.home__link {
    display: inline;
    padding: 2px 8px 4px 6px;
    margin-right: 5px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 3px #6b6b6b;
    font-size: 16px;
    color: #000;
}

.detail__heading-p {
    display: inline;
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    top: -8px;
    color: #454547;
}

.detail__items {
    width: 100%;
    display: flex;
    width: 100%;
    display: flex;
    gap: 7%;
}

.card__container {
    flex: 1 1 calc(50% - 7%);
}

.card {
    width: 100%;
    border-radius: 1px;
    height: auto;
    text-align: left;
    position: relative;
}


.card__image {
    position: relative;
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
}

.card__image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.card__content {
    width: 100%;
    position: relative;
    padding: 0 2px 10px 4px;
}

.card__content,
.card__content p {
    box-sizing: border-box;
}

.card__heading {
    font-size: 16px;
    font-weight: bold;
}

.card__tag {
    display: flex;
    margin-top: -5px;
}

.tag-p {
    font-size: 11px;
    margin: 5% 1% -5px 0%;
    color: #505050;
}

.address-p {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    color: #464646;
    margin-bottom: -5px;
}

.description-p {
    margin-top: 3%;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    color: #474747;
    margin-top: 5%;
}

.reservation {
    flex: 1 1 calc(50% - 7%);

}

.res__container {
    width: 100%;
    height: auto;
    background-color: rgb(48, 93, 255);
    padding: 5% 0 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 3px 3px 3px #8d8d8f;
    position: relative;
}

.res__heading {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0 6% 4%;
}

.res__form {
    margin: 0 0 0;
    text-align: left;
}

.res__calender {
    width: 30%;
    padding: 7px 2px;
    margin: 1.5% 6%;
    border: none;
    border-radius: 3px;
}

.res__input,
.res__select {
    width: 88%;
    padding: 6.5px 0px;
    padding-left: 5px;
    margin: 1.5% 6%;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    position: relative;
}

.res__select {
    padding: 8px 4px;
}

.error {
    margin: 0 6%;
    font-size: 13px;
    color: #FFFFFF;
    padding: 4px;
    border-radius: 5px;
}

.table {
    width: 88%;
    background-color: rgb(77, 127, 255);
    margin: 3% 6% 32%;
    padding: 3% 3%;
    border-radius: 3px;
    color: white;
}

.table__row {
    width: 100%;
}

.table__header {
    width: 30%;
    font-size: 13px;
    padding: 6px 0;
}

.table__item {
    text-align: left;
    font-size: 15px;
}

.res__button {
    width: 100%;
    border: none;
    padding: 14px 0;
    color: white;
    background-color: rgb(5, 56, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 0.3s;
    transition: font-size 0.3s;
}

.res__button:hover {
    background-color: rgb(0, 42, 208);
    font-size: 15px;
}

.review {
    font-size: 12px;
    color: #3682eb;
    text-decoration: none;
}

.average {
    font-size: 11.5px;
    color: #5b5b5b;
    font-weight: 600;
}




.modal__header {
    font-size: 18px;
    font-weight: bold;
    color:#4d4d4d;
    letter-spacing: 1px;
    margin: 20px auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.577);
    z-index: 10;
    display: none;
    opacity: 0;
}

.modal.open {
    display: block;
    opacity: 1;
    background-color: rgba(35, 35, 35, 0.472);
}


.modal__inner {
    position: relative;
    margin: 2% auto;
    width: 100vw;
    height: auto;
    max-width: 700px;
    min-height: auto;
    background-color: #ffffff;
    padding: 20px 60px 50px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-height: 100vh;
    overflow-y: auto;
}

.modal__content {
    width: 100%;
    background-color: #ffffff;
    padding: 30px;
}

.modal__heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    color: #4d4d4d;
}

.modal__heading-items {
    width: 30%;
}

.modal__heading img {
    width: 150px;
}

.modal__text {
    font-weight: bold;
    font-size: 20px;
}

.review-count {
    font-size: 14px;
}

.rating-distribution {
    margin-bottom: 15px;
    width: 60%;
}

.rating-item {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    align-items: center;
}

.rating-item-left {
    flex: 0;
    margin-right: 8px;
    font-size: 12px;
}

.rating-item-right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-bar {
    width: 95%;
    background-color: #f0f0f0;
    height: 7px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: #d5d6d9;
    transition: width 0.3s ease;
    border-radius: 3px;
}

.percentage {
    margin: 0 20px 0 0;
    padding: 0;
    width: 10px;
    font-size: 12px;
}

.form {
    text-align: right;
}

.select-sort_by {
    margin: 15px 0 20px auto;
    border: none;
    width: 80px;
    font-weight: bold;
    color: #4d4d4d;
}

.select {
    margin: 15px 0 20px auto;
    border: none;
    font-weight: bold;
    color: #4d4d4d;
}

.filter-submit {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    padding: 0;
    font-size: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modal-text {
    font-size: 23px;
}

.review__content {
    max-height: 800px;
    overflow-y: auto;
}

.review__container {
    background-color: #f7f7f7;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.close {
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    top: 26px;
    right: 35px;
    color: #4d4d4d;
}

.star-rating {
    display: flex;
    gap: 2px;
}

.gold {
    color: rgb(255, 191, 0);
}

.gray {
    color: #bbb;
}

.star {
    margin-right: -2px;
}

.fa-solid.fa-star,
.rating-text {
    font-size: 9px;
    margin-right: -2px;
}

.review-rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
}

.review-item {
    font-size: 10px;
    color: #7b7b7b;
}

.far.fa-user-circle {
    font-size: 8px;
    margin-right: 2px;
    color: #7b7b7b;
}

.review-name {
    font-size: 8px;
    color: #7b7b7b;
}

.review-title {
    font-size: 13px;
    font-weight: bold;
    color: #5a5a5a;
    margin-top: 6px;
}

.review-comment {
    color: #626262;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 1px;
}






@media(min-width: 769px) and (max-width :990px)
{
    .detail__inner {
        gap: 4%;
    }

    .tag-p {
        font-size: 9px;
    }

    .description-p {
        font-size: 10px;
    }

    .address-p {
        font-size: 10px;
    }
}

@media(min-width: 481px) and (max-width: 768px)
{
    .card__content {
        padding: 0 6px 15px 6px;
    }

    .detail__inner {
        gap: 3%;
        padding: 35px 5% 5% 5%;
    }

    .res__calender {
        width: 40%;
    }

    .res__heading {
        font-size: 17px;
    }

    .home__link {
        font-size: 14px;
    }

    .detail__heading-p {
        font-size: 17px;
        top: -4px;
    }

    .tag-p {
        margin-top: 14px;
        font-size: 6px;
    }

    .address-p {
        font-size: 8px;
    }

    .description-p {
        font-size: 8px;
    }

    .table__header {
        font-size: 12px;
    }

    .table__item {
        font-size: 14px;
    }

    .review {
        font-size: 8px;
    }

    .fa-solid.fa-star,
    .rating-text {
        font-size: 8px;
        color: #444444;
    }

    .review-comment {
        font-size: 12px;
    }
}

@media(max-width: 480px) {
    .detail__inner {
        padding: 15px 8% 5% 8%;
    }

    .detail__items {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 4%;
        padding: 35px 6% 0px 6%;
    }

    .tag-p {
        font-size: 9px;
    }

    .description-p {
        font-size: 11px;
    }

    .res__heading {
        font-size: 18px;
    }

    .review-comment {
        font-size: 10px;
    }

    .modal__inner {
        padding: 10px 40px 30px;
    }
}
