html,
body {
    background-color: #ebebeb;
    height: 100%;
}

.header__item {
    width: 50%;
}

.form {
    width: 100%;
    height: 40px;
    display: flex;
    box-shadow: 2px 2px 1.5px #b5b5b5;
    border-radius: 4px;
}

.select {
    width: 21.25%;
    border: none;
    border: 1px solid #ebebeb;
    color: #a1a1a1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    font-size: 12px;
    padding-left: 2px;
}

.select:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input {
    width: 50%;
    border: 1px solid #ebebeb;
    background-color: white;
    border-left: none;
    border-right: none;
    font-size: 13px;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input::placeholder {
    color: #a3a3a3;
}

.submit {
    width: 7.5%;
    border: 1px solid #ebebeb;
    border-right: none;
    background-color: #ffffff;
    text-align: center;
    color: #d3d3d3;
    appearance: none;
}

.home_content {
    max-width: 1400px;
    padding: 40px 5% 0px 5%;
}

.home__inner {
    max-width: 1400px;
}

.no-results {
    margin: 80px auto;
    text-align: center;
    color: #707070;
}

.card__container {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    box-sizing: border-box;
}

.card {
    margin-bottom: 15px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #25262966;
    position: relative;
}

.card__image {
    position: relative;
    width: 100%;
    padding-top: 70%;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card__image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card__content {
    padding: 5px 5%;
    width: 100%;
}

.card__heading {
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #4e4e4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.average {
    font-size: 90%;
    margin-right: 10px;
    color: #707070;
    display: flex;
    gap: 2px;
}

.star-icon {
    margin-left: -4px;
}

.gold {
    color: #f1c40f;
}

.gray {
    color: #ddd;
}

.card__tag {
    display: flex;
    margin-top: -10px;
}

.tag-p {
    font-size: 10px;
    margin-right: 2%;
    color: #4e4e4e;
}

.card__content-item {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.details__link {
    border: none;
    text-align: center;
    background-color: rgba(36, 98, 244, 0.951);
    color: white;
    font-size: 10px;
    padding: 3px 12px;
    border-radius: 3px;
    margin: 5px 0 2px 0;
    cursor: pointer;
    margin-top: 15%;
}

.details__link:active {
    transform: scale(0.9);
}

.heart {
    position:absolute;
    font-size: 25px;
    bottom: 2.5%;
    right: 5%;
    color: #d8d8d8;
}

.heart-click {
    position: absolute;
    font-size: 25px;
    bottom: 2.5%;
    right: 5%;
    color: hsl(0, 95%, 54%);
}

.favorite__button {
    color: white;
    border: none;
    background-color: transparent;
    width: 23px;
    height: 23px;
    position: absolute;
    bottom: 5%;
    right: 6%;
    z-index: 10;
}


@media(min-width: 481px) and (max-width: 768px) {
    .select{
        font-size: 12px;
        width: 25%;
    }

    .input {
        width: 50%;
    }

    .card__heading {
        font-size: 13px;
    }

    .card__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;
    }

    .header__item {
        width: 60%;
    }

    .form {
        height: 35px;
    }

    .details__link {
        font-size: 9px;
        padding: 3px 10px;
    }

    .average {
        font-size: 90%;
    }

}

@media (max-width: 480px) {
    .home_content {
        padding: 35px 7% 0px 7%;
    }

    .select {
        font-size: 12px;
        width: 26%;
    }

    .input {
        width: 34%;
    }

    .card__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }

    .header__item {
        width: 60%;
    }

    .form {
        height: 35px;
    }

    .submit {
        width: 14%;
        border: none;
        border: 1px solid #ededed;
        border-right: none;
        color: #989898;
        background-color: #ffffff;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 960px){
    .card__image img {
        width: 100.6%;
    }

    .card__heading {
        font-size: 12px;
    }

    .card__tag {
        display: flex;
        margin-top: -8px;
        }

    .tag-p {
        font-size: 8px;
        margin-right: 2%;
        }

    .details__link {
        font-size: 8px;
        padding: 3px 10px;
        }

    .heart {
        font-size: 23px;
    }

    .heart-click {
        font-size: 23px;
    }
}

