html,
body {
    background-color: #f3f3f3;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* headerを左端に縦に細長く配置 */
/* ハンバーガーメニューの位置を上に配置 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* 画面の高さに合わせて縦長に */
    width: 60px;
    /* 幅を狭く設定 */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* 要素を縦に並べる */
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    /* 上部に少し余白を加える */
    /*box-shadow: 4px 0 8px rgb(0, 0, 0, 0.1);*/
    /* メニューの影を追加 */
    z-index: 100;
}

/* メニューを上に配置 */
.menu {
    margin-top: 0;
    /* 上部に余白をなくして、最上部に配置 */
}


.square {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #1c5ac6;
    transition: background-color 0.3s;
    position: relative;
    box-shadow: 1.5px 2px 2px #babdd1;
    display: inline-block;
    margin: 0 0 10px 15px;
    /* メニューと下のコンテンツの間隔を調整 */
}

.line {
    height: 1.7px;
    background-color: white;
    position: absolute;
    left: 5px;
}

.long {
    width: 14px;
    top: 7px;
    /* 上からの位置を調整 */
}

.medium {
    width: 19px;
    top: 13px;
    /* 上からの位置を調整 */
}

.short {
    width: 9px;
    top: 19px;
    /* 上からの位置を調整 */
}

.dropdown-menu {
    display: none;
    position: fixed;
    top: 0px;
    left: -220px;
    height: 100%;
    width: 220px;
    box-shadow: 4px 0 8px rgb(0, 0, 0, 0.1);
    text-align: left;
    background-color: #474ce8;
    padding: 20px;
    z-index: 1000;
    transform: translateX(0);
    transition: transform 0.5s ease;
    border: none;
}

.dropdown-menu.active_ {
    display: block;
    transform: translateX(220px);
    background-color: #ffffff;
    border: none;
}

.manager__link,
.admin__link {
    text-decoration: none;
    color: #00509e;
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 15px;
    text-shadow: none;
    transition: background-color 0.3s, color 0.3s;
}

.manager__link:hover,
.admin__link:hover {
    background-color: #eaeaea;
    color: #00376b;
}

.h2 {
    margin-top: 0;
    color: #0854d8f7;
    padding: 5px 10px 0;
    font-size: 28px;
    display: inline-block;
    text-shadow: 1.5px 2px 2px #babdd1a4;
}

.manager-form input,
.admin-form input {
    border: none;
    background-color: #00509e;
    color: white;
    padding: 5px 13px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.manager-form input:hover,
.admin-form input:hover {
    background-color: #00376b;
}

