
.reservation__heading{
    font-size: 18px;
    padding: 2px 0 10px 0;
    border-bottom: 1px solid #e3e3e3;
    color: #4c5258;
    margin-bottom: 20px;
    font-weight: bold;
}

.message {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.9s forwards;
    margin-top: 10px;
}

.message--success {
    background-color: #0a8a0ff2;
}

.message--error {
    background-color: #ed291bf5;
}

@keyframes slideIn {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.reservation__content {
    color: #4b4f54;
    background-color: #fdfdfd;
    padding: 10px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-width: 800px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.reservation__inner {
    width: 100%;
    height: 900px;
    text-align: center;
}

.form__group {
    width: 100%;
    height: 135px;
    margin: 20px auto 10px;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #f2f3f4;
    padding: 5px 0px 0px;
    position: relative;
    border-radius: 1px;
    border: 1px solid #e4e5e7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.res-form {
    min-width: 700px;
    position: absolute;
    top: 10px;
    left: 2%;
    width: 95%;
    border-collapse: collapse;
}

.res-form__row {
    display: table-row;
    align-items: baseline;
}

.res-form__cell {
    display: table-cell;
    padding-right: 2%;
    vertical-align: middle;
    text-align: left;
    width: calc(100% / 4);
}

.res-form__cell:last-child {
    padding-right: 0;
}

.res-form__label {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 3px;
    white-space: nowrap;
}

.res-form__search {
    display: block;
    margin-bottom: 3px;
    color: transparent;
}

.res-form__date,
.res-form__number,
.res-form__status,
.res-form__input,
.res-form__submit,
.res-form__reset{
    height: 30px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d6d8dc;
    background-color: #ffffff;
    color: #707072 !important;
}

.res-form__submit {
    background: linear-gradient(to bottom, #3a669e, #2d4e7a);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.238);
    color: white !important;
    border: none;
    font-size: 12px;
    margin-bottom: 1px;
    border-radius: 3px;
}

.res-form__reset {
    background-color: #e7e7e7;
    border: 0px solid #e3e3e3;
    color: #707070;
    margin-bottom: 1px;
    border-radius: 3px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.143);
}

.res-form__submit:hover {
    background: linear-gradient(to bottom, #345c91, #2d4e7a);
}

.res-form__reset:hover {
    background-color: #e0e0e0;
}

.res-table {
    width: 100%;
    min-width: 670px;
    border-collapse: collapse;
    margin: 17px auto;
    border: 1px solid #eeeff1;
    font-size: 15px;
    border-radius: 3px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.table__header {
    background-color: #f2f3f4;
    padding: 15px 15px;
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #e4e5e7;
    letter-spacing: 1px;
}

.table__row {
    background-color: #fefefe;
    border-bottom: 1px solid #e4e5e7;
    transition: all 0.3s ease;
}

.res-table tr:hover {
    color: #40434a;
    transform: scale(1.04);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.206);
    transition: all 0.3s ease;
    background-color: #f6f8fa;
}



.table__item {
    padding: 20px 25px;
    text-align: center;
    font-size: 13px;
}

.table__item:first-child,
.table__header:first-child {
    padding-left: 35px;
}

.table__item:last-child,
.table__header:last-child {
    padding-right: 35px;
}

.table__item-items {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.table__item-status {
    font-size: 9px;
    padding: 3px 10px;
    border-radius: 16px;
    color: white;
    min-width: 40px;
    display: inline-block;
    border: 1px solid transparent;
}

.reserved {
    background-color: #e4f2e7;
    color: #155724;
}

.cancelled {
    background-color: #f5dfe0;
    color: #721c24;
}

.visited {
    background-color: #ecf0f7;
    color: #45596c;
}

.res-table__delete-submit,
.openSidebarButton {
    border: none;
    background-color: transparent;
    padding-left: 20px;
    color: #394162;
}

.sidebar {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 5;
    top: 0;
    right: -370px;
    background-color: transparent;
    overflow-x: hidden;
    transition: transform 0.3s ease, right 0.3s ease;
    box-shadow: -3px -3px 4px #00000014;
}

.sidebar-content {
    background-color: white;
    padding: 60px 7px;
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar-close {
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 40px;
}

.fas.fa-arrow-left {
    color: #394162;
}

.sidebar-close:hover,
.sidebar-close:focus {
    color: black;
    text-decoration: none;
}

.sidebar.open {
    right: 0;
}


.sidebar-h4 {
    margin: 10px 0px 30px;
    font-size: 18px;
}

.sidebar__label {
    display: block;
    margin: 25px 0px 4px 70px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.sidebar__input,
.sidebar__input-disabled,
.sidebar__select {
    width: 57%;
    height: 30px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    padding: 0 12px 0 15px;
    color: #535457;
    background-color: #ffffff;
    box-shadow: 1.3px 1.3px 2px #00000010;
}

.sidebar__input-disabled{
    color: #5d5d5d;
    background-color: #efefef;
}

.sidebar__select {
    width: 65%;
}

.sidebar-submit {
    margin-top: 55px;
    padding: 6px 35px;
    background: linear-gradient(to bottom, #3a669e, #2d4e7a);
    box-shadow: 1.5px 1.5px 4px #aeb2cb, 0 2px 6px rgba(0, 0, 0, 0.068);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #2f3a3168;
    font-weight: bold;
}

.pagination_ {
    margin: 0 auto 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination li:not(.active) {
    border: 1px solid #E0DFDE;
    padding: 3px 7px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #747475;
    text-decoration: none;
    font-size: 14px;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 5px 7px;
    border: 1px solid #3258f0;
    background-color: #376bef;
    color: #FFF;
    font-size: 14px;
}


