html,
body {
    background-color: #e8e8e8;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.message {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.9s forwards;
}

.message--success {
    background-color: #0a8a0ff2;
}

.message--error {
    background-color: #ed291bf5;
}

.error-message {
    font-size: 15px;
    color: #ff1e1e;
}


@keyframes slideIn {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.manager__content {
    max-width: 1400px;
    height: 100vh;
    display: block;
}

.restaurant__inner {
    width: 100%;
    height: 100%;
    padding: 60px 7% 1% 7%;
}

.detail {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.detail-card__inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1;
}

.card {
    width: 100%;
    margin: 0 auto;
}

.edit__submit {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    background-color: rgb(235, 235, 235);
    color: rgb(83, 83, 83);
    border: 1px solid rgb(151, 151, 151);
    border-radius: 3px;
    margin-top: 50px;
}

.edit__submit:hover {
    background-color: rgb(164, 165, 168);
    color: white;
}

.restaurant__grope {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 20px;
}

.restaurant__header {
    margin: 0 auto;
    text-align: center;
}

.restaurant__create-form {
    z-index: 10;
    width: calc(50% - 30px);
    max-width: 480px;
    min-width: 400px;
    margin: 15px auto;
    padding: 0;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    display: none;
}

.restaurant__create-form.open {
    display: block;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 25px;
    right: 35px;
    font-weight: bold;
    font-size: 16px;
    color: #565656;
}

.create-form {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 35px 80px;
    text-align: left;
    border-radius: 10px;
    position: relative;
    margin: 0;
}

.create-form-group {
    margin-bottom: 20px;
    width: 100%;
}

.create-form__label {
    display: block;
    font-size: 13px;
}

.create-form__image {
    height: 30px;
    width: 100%;
    margin-right: 16px;
}

.create-form__input,
.create-form__select,
.create-form__text,
.create-form__textarea {
    padding: 0 5px;
    background-color: #fafafa;
    border: 1px solid #bebebe;
    border-radius: 3px;
}

.create-form__input {
    height: 25px;
    width: 97%;
}

.create-form__select {
    height: 30px;
    width: 97%;
}

.create-form__text {
    height: 25px;
    width: 97%;
}

.create-form__textarea {
    height: 110px;
    width: 97%;
    margin-bottom: 10px;
    font-size: 15px;
}

.create-form__submit {
    width: 100px;
    padding: 6px;
    position: absolute;
    bottom: 32px;
    right: 44px;
    background-color: rgb(47, 95, 163);
    border: none;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #3d86da, #2f5fa3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.create-form__submit:hover {
    background: linear-gradient(to bottom, #2e75b4, #2b4f84);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.preview__submit {
    width: 120px;
    padding: 6px;
    font-size: 13px;
    position: absolute;
    bottom: 32px;
    background-color: rgb(248, 248, 248);
    border: 1px solid #bebebe;
    color: #3d3d3d;
    border-radius: 3px;
}



.preview__content {
    width: calc(50% - 30px);
    margin: 0px;
    padding: 0;
    position: static;
    text-align: center;
    position: relative;
}

.close-preview {
    text-decoration: underline;
    font-size: 12px;
    color: #2f2f2f;
    margin: 0 auto;
}

.card__inner {
    width: 100%;
    min-width: 480px;
    max-width: 530px;
    border-radius: 1px;
    height: auto;
    margin-top: 5px;
    text-align: left;
    position: relative;
    padding-bottom: 0px;
}

.card__image {
    position: relative;
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
}

.card__image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.card__content {
    width: 100%;
    padding: 0 3px 15px 3px;
    text-align: left;
}

.header__item {
    display: flex;
    margin: 0 auto -10px 5px;
    align-items: center;
}

.home__link {
    width: 27px;
    height: 27px;
    padding-top: 2px;
    margin-right: 5px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 3px #6b6b6b;
    font-size: 16px;
    color: #000;
}

.card__heading {
    font-size: 19px;
    font-weight: bold;
    padding: 0;
    color: #49494e;
    letter-spacing: 1px;
}

.card__tag {
    display: flex;
    margin-top: 3%;
}

.tag-p {
    font-size: 11px;
    margin: 8px 1% -5px 0%;
    color: #3d3d3d;
}

.card__address-p {
    font-size: 12.5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    color: #232323;
    margin-bottom: -5px;
}

.card__description-p {
    font-size: 12.5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    color: #232323;
    margin-top: 5%;
}

.preview__submit {
    margin-top: 20px;
}

@media(min-width: 481px) and (max-width: 768px) {
    .tag-p {
    font-size: 11px;
    }

    .card__address-p {
        font-size: 12px;
    }

    .card__description-p {
        font-size: 12px;
    }
}